In [5]:
from matplotlib import pyplot
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

## Define Normalization Function

In [6]:
def normalize(data):
    y = pd.to_numeric(data)
    y = np.array(y.reshape(-1, 1))
    
    scaler = MinMaxScaler()
    y = scaler.fit_transform(y)
    y = y.reshape(1, -1)[0]
    return y

## Read Dataset (Flood)

In [25]:
# Read the dataset
ROAD = "Taft Ave."
YEAR = "2015"
EXT = ".csv"
#FILENAME = "merged_mmda_wwo_" + ROAD + "_" + YEAR
FILENAME = "interpolated_flood_pagasa"
FOLDER = "flood"
data = pd.read_csv("data/" + FOLDER + "/" + FILENAME + EXT, skipinitialspace=True)

In [27]:
data['WL [El.m]'] = normalize(data['WL [El.m]'])
data

c:\users\ronnie nieva\appdata\local\conda\conda\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  This is separate from the ipykernel package so we can avoid doing imports until

                       Time  WL [El.m]
0       2015-01-01 00:00:00   0.814856
1       2015-01-01 00:15:00   0.814856
2       2015-01-01 00:30:00   0.814856
3       2015-01-01 00:45:00   0.814856
4       2015-01-01 01:00:00   0.814856
5       2015-01-01 01:15:00   0.814856
6       2015-01-01 01:30:00   0.814856
7       2015-01-01 01:45:00   0.814856
8       2015-01-01 02:00:00   0.814856
9       2015-01-01 02:15:00   0.814856
10      2015-01-01 02:30:00   0.814856
11      2015-01-01 02:45:00   0.814856
12      2015-01-01 03:00:00   0.814856
13      2015-01-01 03:15:00   0.814856
14      2015-01-01 03:30:00   0.814856
15      2015-01-01 03:45:00   0.814856
16      2015-01-01 04:00:00   0.814856
17      2015-01-01 04:15:00   0.814856
18      2015-01-01 04:30:00   0.814856
19      2015-01-01 04:45:00   0.814856
20      2015-01-01 05:00:00   0.814856
21      2015-01-01 05:15:00   0.814856
22      2015-01-01 05:30:00   0.814856
23      2015-01-01 05:45:00   0.814856
24      2015-01-01 06:00:00   0.814856
25      2015-01-01 06:15:00   0.814856
26      2015-01-01 06:30:00   0.814856
27      2015-01-01 06:45:00   0.814856
28      2015-01-01 07:00:00   0.814856
29      2015-01-01 07:15:00   0.814856
...                     ...        ...
105186  2017-12-31 16:30:00   0.000000
105187  2017-12-31 16:45:00   0.000000
105188  2017-12-31 17:00:00   0.000000
105189  2017-12-31 17:15:00   0.000000
105190  2017-12-31 17:30:00   0.000000
105191  2017-12-31 17:45:00   0.395297
105192  2017-12-31 18:00:00   0.790594
105193  2017-12-31 18:15:00   0.395297
105194  2017-12-31 18:30:00   0.000000
105195  2017-12-31 18:45:00   0.395297
105196  2017-12-31 19:00:00   0.790594
105197  2017-12-31 19:15:00   0.395297
105198  2017-12-31 19:30:00   0.000000
105199  2017-12-31 19:45:00   0.395297
105200  2017-12-31 20:00:00   0.790594
105201  2017-12-31 20:15:00   0.395297
105202  2017-12-31 20:30:00   0.000000
105203  2017-12-31 20:45:00   0.395297
105204  2017-12-31 21:00:00   0.790594
105205  2017-12-31 21:15:00   0.395297
105206  2017-12-31 21:30:00   0.000000
105207  2017-12-31 21:45:00   0.395297
105208  2017-12-31 22:00:00   0.790594
105209  2017-12-31 22:15:00   0.395297
105210  2017-12-31 22:30:00   0.000000
105211  2017-12-31 22:45:00   0.395297
105212  2017-12-31 23:00:00   0.790594
105213  2017-12-31 23:15:00   0.395297
105214  2017-12-31 23:30:00   0.000000
105215  2017-12-31 23:45:00   0.000000

[105216 rows x 2 columns]

## Export new Dataset with Normalized Data

In [29]:
data.to_csv("data/" + FOLDER + "/" + FILENAME + EXT, encoding='utf-8', index=False)

### Export Dataset from n to m rows

In [33]:
startIndex = 0
endIndex = (24*4)*365 #If not Leap Year
#endIndex = (24*4)*365+1 #If Leap Year
newdata = data.iloc[startIndex:endIndex, :]

YEAR = "2015"
newdata.to_csv("data/" + FOLDER + "/" + FILENAME + "_" + YEAR + EXT, encoding='utf-8', index=False)

In [34]:
newdata

                      Time  WL [El.m]
0      2015-01-01 00:00:00   0.814856
1      2015-01-01 00:15:00   0.814856
2      2015-01-01 00:30:00   0.814856
3      2015-01-01 00:45:00   0.814856
4      2015-01-01 01:00:00   0.814856
5      2015-01-01 01:15:00   0.814856
6      2015-01-01 01:30:00   0.814856
7      2015-01-01 01:45:00   0.814856
8      2015-01-01 02:00:00   0.814856
9      2015-01-01 02:15:00   0.814856
10     2015-01-01 02:30:00   0.814856
11     2015-01-01 02:45:00   0.814856
12     2015-01-01 03:00:00   0.814856
13     2015-01-01 03:15:00   0.814856
14     2015-01-01 03:30:00   0.814856
15     2015-01-01 03:45:00   0.814856
16     2015-01-01 04:00:00   0.814856
17     2015-01-01 04:15:00   0.814856
18     2015-01-01 04:30:00   0.814856
19     2015-01-01 04:45:00   0.814856
20     2015-01-01 05:00:00   0.814856
21     2015-01-01 05:15:00   0.814856
22     2015-01-01 05:30:00   0.814856
23     2015-01-01 05:45:00   0.814856
24     2015-01-01 06:00:00   0.814856
25     2015-01-01 06:15:00   0.814856
26     2015-01-01 06:30:00   0.814856
27     2015-01-01 06:45:00   0.814856
28     2015-01-01 07:00:00   0.814856
29     2015-01-01 07:15:00   0.814856
...                    ...        ...
35010  2015-12-31 16:30:00   0.785368
35011  2015-12-31 16:45:00   0.785368
35012  2015-12-31 17:00:00   0.785368
35013  2015-12-31 17:15:00   0.785368
35014  2015-12-31 17:30:00   0.785368
35015  2015-12-31 17:45:00   0.785368
35016  2015-12-31 18:00:00   0.785368
35017  2015-12-31 18:15:00   0.785368
35018  2015-12-31 18:30:00   0.785368
35019  2015-12-31 18:45:00   0.785368
35020  2015-12-31 19:00:00   0.785368
35021  2015-12-31 19:15:00   0.785368
35022  2015-12-31 19:30:00   0.785368
35023  2015-12-31 19:45:00   0.785368
35024  2015-12-31 20:00:00   0.785368
35025  2015-12-31 20:15:00   0.785368
35026  2015-12-31 20:30:00   0.785368
35027  2015-12-31 20:45:00   0.785368
35028  2015-12-31 21:00:00   0.785368
35029  2015-12-31 21:15:00   0.785368
35030  2015-12-31 21:30:00   0.785368
35031  2015-12-31 21:45:00   0.785368
35032  2015-12-31 22:00:00   0.785368
35033  2015-12-31 22:15:00   0.785368
35034  2015-12-31 22:30:00   0.785368
35035  2015-12-31 22:45:00   0.785368
35036  2015-12-31 23:00:00   0.785368
35037  2015-12-31 23:15:00   0.785368
35038  2015-12-31 23:30:00   0.785368
35039  2015-12-31 23:45:00   0.601530

[35040 rows x 2 columns]